@model Incident
    @{
        string title = ViewBag.Action + " Incident";
        ViewBag.Title = title;
    }

    <h2>@title</h2>

    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="TechnicianId">Customer</label>
            <input readonly class="form-control" value="@Model.Technician.Name">
        </div>

        <input type="hidden" asp-for="TechnicianId" />

        <div class="form-group">
            <label asp-for="CustomerId">Customer</label>
            <input readonly class="form-control" value="@Model.Customer.FullName">
        </div>

        <input type="hidden" asp-for="CustomerId" />

        <div class="form-group">
            <label asp-for="ProductId">Customer</label>
            <input readonly class="form-control" value="@Model.Product.Name">
        </div>

        <input type="hidden" asp-for="ProductId" />

        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" readonly class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Open">Date Opened</label>
            <input asp-for="Open" readonly class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Close">Date Closed</label>
            <input asp-for="Close" class="form-control">
        </div>

        <input type="hidden" asp-for="IncidentId" />

        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-controller="TechIncident" asp-action="Get" class="btn btn-primary">Cancel</a>
    </form>