@model TechIncidentEditViewModel
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

<h2>@title</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Incident.TechnicianId">Technician</label>
        <select asp-for="Incident.TechnicianId" disabled class="form-control">
            <option value="" readonly></option>
            @foreach (Technician t in Model.TechniciansList)
            {
                <option value="@t.TechnicianId">@t.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="Incident.TechnicianId" />

    <div class="form-group">
        <label asp-for="Incident.CustomerId">Customer</label>
        <select asp-for="Incident.CustomerId" disabled class="form-control">
            <option value="" readonly></option>
            @foreach (Customer c in Model.Customer)
            {
                <option value="@c.CustomerId">@c.FullName</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="Incident.CustomerId" />

    <div class="form-group">
        <label asp-for="Incident.ProductId">Product</label>
        <select asp-for="Incident.ProductId" disabled class="form-control">
            <option value="" readonly></option>
            @foreach (Products p in Model.Product)
            {
                <option value="@p.ProductId">@p.Name</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="Incident.ProductId" />

    <div class="form-group">
        <label asp-for="Incident.Title">Title</label>
        <input asp-for="Incident.Title" readonly class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Incident.Open">Date Opened</label>
        <input asp-for="Incident.Open" readonly class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Incident.Description">Description</label>
        <input asp-for="Incident.Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Incident.Close">Date Closed</label>
        <input asp-for="Incident.Close" class="form-control">
    </div>

    <input type="hidden" asp-for="Incident.IncidentId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="TechIncident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>