@model RegistrationViewModel
@{
    ViewBag.Title = "Registration Manager";
    if (TempData["message"] != null)
    {
        <h2 class="bg-dark text-white p-2">@TempData["message"]</h2>
    }
}
@if (!Model.Registrations.Any())
{
    <h2>No open incidents for @Model.Customer.FullName</h2>

    <h2>Product</h2>

    <form asp-action="AddRegistration" onsubmit="return registerProductValidation()">
        <select class="form-control" name="id" id="registerProductSelect">
            <option value="default">Select a Prouduct</option>
            @foreach (Products p in Model.Products)
            {
                <option value="@p.ProductId">@p.Name</option>
            }
        </select>
        <button class="btn btn-primary mt-2" type="submit">Register</button>
    </form>
}
else
{
<h2>Customer:@Model.Customer.FullName</h2>
    <h2>Registrations</h2>
    <table class="table table-bordered">
        <thead>
            <tr><th>Product</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (Registration r in Model.Registrations)
            {
                <tr>
                    <td>@r.Product.Name</td>
                    <td>
                        <a class="btn btn-primary" role="button"
                           asp-controller="Registration" asp-action="Delete"
                           asp-route-id="@r.RegistrationId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Product</h2>

    <form asp-action="AddRegistration" onsubmit="return registerProductValidation()">
        <select class="form-control" name="id" id="registerProductSelect">
            <option value="default">Select a Prouduct</option>
            @foreach (Products p in Model.Products)
            {
                <option value="@p.ProductId">@p.Name</option>
            }
        </select>
        <button class="btn btn-primary mt-2" type="submit">Register</button>
    </form>
}

<br />
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Home</a>