@model IncidentViewModel
@{
    ViewBag.Title = "Incident Manager";
    if (TempData["message"] != null)
    {
        <h2 class="bg-dark text-white p-2">@TempData["message"]</h2>
    }
}

<h2>Incident Manager</h2>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link@(Model.Filter.CompareTo("all") == 0 ? " active" : "")" asp-controller="Incident" asp-action="List" asp-route-filter="all">All Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(Model.Filter.CompareTo("unassigned") == 0 ? " active" : "")" asp-controller="Incident" asp-action="List" asp-route-filter="unassigned">Unassigned Incidents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(Model.Filter.CompareTo("open") == 0 ? " active" : "")" asp-controller="Incident" asp-action="List" asp-route-filter="open">Open Incidents</a>
    </li>
</ul>
    <table class="table table-bordered">
        <thead>
            <tr><th>Title</th><th>Customer</th><th>Product</th><th>Date Opened</th><th></th><th></th></tr>
        </thead>
        <tbody>
            @foreach (Incident incident in Model.Incident)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer.FullName</td>
                    <td>@incident.Product.Name</td>
                   @if (incident.Open != null)
                   {
                    <td>@incident.Open.Value.ToString("yyyy/MM/dd")</td>
                   }
                    <td>
                        <a class="btn btn-primary" role="button"
                           asp-controller="Incident" asp-action="Edit"
                           asp-route-id="@incident.IncidentId"
                           asp-route-slug="@incident.Slug">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button"
                           asp-controller="Incident" asp-action="Delete"
                           asp-route-id="@incident.IncidentId"
                           asp-route-slug="@incident.Slug">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" role="button" asp-controller="Incident" asp-action="Add">Add Incident</a>
    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Home</a>
