@model List<Incident>
@{
    ViewBag.Title = "Incident Manager";
}

<h2>Incident Manager</h2>
<table class="table table-bordered">
    <thead>
        <tr><th>Title</th><th>Customer</th><th>Product</th><th>Date Opened</th><th></th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName</td>
                <td>@incident.Product.Name</td>
                <td>@incident.Open.Value.ToString("yyyy/MM/dd")</td>
                <td>@incident.Close.Value.ToString("yyyy/MM/dd")</td>
                <td>
                    <a class="btn btn-primary" role="button"
                       asp-controller="Incident" asp-action="Edit"
                       asp-route-id="@incident.IncidentId"
                       asp-route-slug="@incident.Slug">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Home</a>